<!DOCTYPE html><html>
<head>
  <title>GUI For Manual Sync</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'home', media: 'all'%>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
